.header-inside {
    padding-inline: 0;
    background: inherit;
}

.menu {
    -webkit-text-stroke: thin;
}

.layout-inside {
    background: none;
}

.content-inside {
    background-color: white;
}

.typography {
    display: flex;
    font-family: "winter-house";
    font-size: small;
    align-items: baseline;
}

.button-modal-date {
    font-family: "winter-house";
    font-size: small;
    display: flex;
    align-items: flex-end;
    background-color: gainsboro;
}

.button-modal-add-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 3%;
}

.form-date {
    padding: 3%;
    padding-top: 0 !important;
}

.breadcrumb {
    margin-bottom: 1%;
}

.breadcrumb-col {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.content-outside {
    padding: 4%;
}

.layout-outside {
    height: -webkit-fill-available;
    background-position: center;
    background-size: cover !important;
    background: url("../../public/images/background-home.png");
}

.sider {
    background: none !important;
}

.header-outside {
    display: flex;
    background: inherit;
}

.image {
    margin-left: 1%;
}

@font-face {
    font-family: "winter-house";
    src: url("../../public/fonts/KingsAndPirates-p7EAK.ttf") format("truetype");
}