.header__inside {
    padding-inline: 0;
    background: inherit;
}

.menu {
    -webkit-text-stroke: thin;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout__inside {
    background: none;
}

.layout__modal {
    background: inherit;
    flex-direction: row;
    padding: 3%;
}

.content__inside {
    background-color: white;
}

.typography {
    display: flex;
    font-family: "winter-house";
    font-size: small;
    align-items: baseline;
}

.button__modal__date {
    font-family: "winter-house";
    font-size: small;
    display: flex;
    align-items: flex-end;
    background-color: gainsboro;
}

.button__upload,
.button__modal__add__date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 3%;
}

.search__button [role="img"] {
    padding-block-end: 6px
}

.form__date {
    padding: 3%;
    padding-top: 0 !important;
}

.content__outside {
    padding: 4%;
    padding-top: 6%;
}

.space [class="ant-space-item"] {
    align-self: center;
}

.layout__outside {
    height: fit-content;
    min-height: 100vh;
    background-position: center;
    background: url("../../public/images/background-home.png");
}

.sider {
    background: none !important;
}

.header__outside {
    display: flex;
    background: inherit;
}

.image {
    margin-left: 1%;
}

.space {
    align-items: flex-start;
}

.space__form__list {
    display: flex;
}

.list li {
    padding-bottom: 0;
    padding-left: 0;
}

.quill [class="ql-editor ql-blank"] {
    font-family: sans-serif;
    font-size: 12px;
}

.select [class="ant-select-selector"] {
    font-size: small;
    font-family: math;
}

.cascader [class="ant-select-selection-item"],
.select--second [class="ant-select-selector"] {
    font-family: math;
}

.text__header {
    font-family: "winter-house";
    font-size: large;
}

.text {
    font-family: "winter-house";
    font-size: smaller;
}

.text__button {
    font-family: "winter-house";
    font-size: small;
}

.text--secondary {
    font-family: inherit;
}

.submit__button {
    background-color: cornflowerblue;
    font-family: math;
}

.search [type="search"] {
    font-family: math;
}

.pop__button__ok,
.pop__button__cancel {
    font-family: sans-serif;
}

.input input {
    font-family: math;
}

.___Item--optional [class="ant-form-item-optional"] {
    font-size: smaller;
    padding-left: 3%;
}

.pop__button__ok {
    background-color: cornflowerblue;
}

.icon {
    display: flex;
}

.modal__button--secondary,
.modal__button--first,
._item__button {
    display: inline-block;
    width: 85px;
    background-color: cornflowerblue;
}

.response__button--third {
    font-family: sans-serif;
    background-color: #708f89;
}

.response__button--secondary {
    font-family: sans-serif;
    background-color: #7d827e;
}

.response__button--first {
    font-family: sans-serif;
    background-color: cornflowerblue;
}

.___Item__location div {
    padding-top: 0 !important;
}

.cascader {
    width: auto !important;
}

.modal {
    width: 400px !important;
}

.modal__button--secondary {
    background-color: darkgrey;
}

.___Item--first {
    max-width: 50%;
}

.___Item--optional,
.___Item--secondary {
    max-width: 25%;
    margin-bottom: 0px;
}

.___Item--third {
    margin-bottom: 0px;
}

.upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-inline-end: 8px;
}

.___Item--fourth label {
    font-size: small !important;
}

.___Item--fourth div {
    padding-top: 0 !important;
}

.col--fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collapse [class="ant-collapse-header"] {
    font-family: 'winter-house';
    font-size: smaller;
    align-items: flex-end !important;
    padding-left: 0;
}

.quill [class="ql-container ql-snow ql-disabled"] {
    border: none;
}

@font-face {
    font-family: "winter-house";
    src: url("../../public/fonts/KingsAndPirates-p7EAK.ttf") format("truetype");
}