.layout {
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover !important;
    background: url("../../public/images/background.png");
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.form {
    max-width: 300px;
}

.form__item__button {
    background-color: cornflowerblue !important;
}

.link__button {
    font-family: sans-serif;
}

.icon {
    display: flex;
}

.form__item {
    margin-bottom: 0 !important;
}