.layout {
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover !important;
    background: url("../../public/images/background.png");
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.form {
    width: 400px;
}

.button {
    padding: 0;
}

._item {
    margin-bottom: 18px;
}

._item--secondary {
    margin-bottom: 0;
}

.modal__button--secondary,
.modal__button--first,
._item__button {
    display: inline-block;
    width: 85px;
    background-color: cornflowerblue;
}

.modal__button--secondary {
    background-color: #c75d5d;
}

._item__button,
.form__item__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.divider {
    margin: 12px;
}